{% extends "_layouts/base.njk" %}

{% block main %}
	<main id="main" class="section">
		<article class="page">
			{{ content | safe }}
		</article>
		{% include "section-nav-" + section + ".njk" %}
	</main>
{% endblock %}
