<site-footer class="page">
  <p>
    <small>
      <a href="https://www.w3.org/Consortium/Legal/ipr-notice#Copyright" rel="license">Copyright</a>
      &copy; 1994&ndash;{% year %}
      <a href="https://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr><sup>&reg;</sup></a>
    </small>
  </p>
</site-footer>
