<nav class="section qlinks">
  <h2><a href="{{ "/about/" | locale_url }}">{{ site.sections.about }}</a></h2>
  <ul>
    <li><a href="{{ "/about/who" | locale_url }}">{{ site.about.who }}</a></li>
    <li><a href="{{ "/about/what" | locale_url }}">{{ site.about.what }}</a></li>
  </ul>
</nav>
